@import 'reset';
@import 'partials/variables';
@import 'navigation';

body {
    background-color: $backgroundColor;
    color: $mainFontColor;
}
a {
    cursor: pointer;
    text-decoration: none;
    &:visited {
        color: $mainFontColor;
        text-decoration: none;
    }
}
.container {
    width: 1170px;
    margin: 0 auto;
}